body{
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: lightblue;
    line-height: 120px;
    min-height: 120px;
    color:  white;
    text-shadow: 0 0 3px black;
    text-align: center;
    font-size: 200%;
}

footer{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    font-size: 80%; 
    text-align: center;
    padding: 10px;
}

main{
    padding: 10px;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
}

.container{
    background-color: white;
    padding: 10px;
}
.kep    {
    position: relative;
    width: 50%;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .kep:hover .image {
    opacity: 0.3;
  }
  
  .kep:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }